* {
	font-family: 'Muli', sans-serif;
}

.App {
	text-align: center;
}

div .container {
	max-width: 100%;
	margin: 0;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navbar-brand {
	margin-left: 40px;
}

a .nav-link {
	float: right;
}

#pic1 {
	background-image: url("/testapp/public/pic1.jpg");
}

.main-carousel {
	width: 100%;
}

.fluid-container {
	font-size: 14px;
}

.dropdown-menu .dropdown-item {
	font-size: 14px;
}

.slides {
	width: 100%;
}

.carousel-item {
	height: 400px !important;
}

.innerbox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 8%;
	width: 80%;
}
.innerbox h1 {
	font-size: 50px;
	font-weight: 1000;
}

.text-container {
	box-sizing: border-box;
	text-align: left;
	width: 80%;
}

.container-box {
	/* margin-top: 40px; */
	font-size: 15px;
}

.inside-box1 {
	margin-top: 50px;

	width: 50%;
	display: inline-block;
}

.container {
	margin-top: 20px;
	margin-bottom: 40px;
}

div p {
	font-size: 12px;
}

.bigbox {
	margin-top: 40px;
	margin-bottom: 40px;
}

h5 > p {
	width: 200px;
}

.col1 {
	width: 40%;
}
.col1 > h5 > p {
	width: 30%;
}

.box1 {
	display: flex;
	flex-direction: row;
	width: auto;
	justify-content: space-evenly;
	align-content: center;
	text-align: start;
	position: relative;
	margin-right: 50px;
	margin-left: 50px;
}

.icon {
	position: relative;
	left: 0;
	margin-right: 5px;
}
.small-box {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #0c0d0c;
	color: #ffffff;
}

.image-svg {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.small-box1 {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #0c0d0cE5;
	color: #ffffff;
}

.main-box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.title-one {
	margin-top: 15px;
}

.a-color {
	color: #ffffff;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
