* {
	font-family: 'Muli', sans-serif;
}

.App {
	text-align: center;
}

div .container {
	max-width: 100%;
	margin: 0;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navbar-brand {
	margin-left: 40px;
}

a .nav-link {
	float: right;
}

#pic1 {
	background-image: url("/testapp/public/pic1.jpg");
}

.main-carousel {
	width: 100%;
}

.fluid-container {
	font-size: 14px;
}

.dropdown-menu .dropdown-item {
	font-size: 14px;
}

.slides {
	width: 100%;
}

.carousel-item {
	height: 400px !important;
}

.innerbox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 8%;
	width: 80%;
}

.innerbox .carousel-button {
	padding: 5px 40px;
	background-color: #32a852;
	border-color: #32a852;
	color: white;
}
.innerbox h1 {
	font-size: 45px;
	font-weight: 1000;
	text-align: left;
}

.text-container {
	box-sizing: border-box;
	text-align: left;
	width: 80%;
}

.container-box {
	/* margin-top: 40px; */
	font-size: 15px;
}

.inside-box1 {
	margin-top: 50px;
	width: 50%;
	display: inline-block;
}

.container {
	margin-top: 20px;
	margin-bottom: 40px;
}

div p {
	font-size: 12px;
}

.bigbox {
	margin-top: 40px;
	margin-bottom: 40px;
}

h5 > p {
	width: 200px;
}

.col1 {
	width: 40%;
}
.col1 > h5 > p {
	width: 30%;
}

.box1 {
	display: flex;
	flex-direction: row;
	width: auto;
	justify-content: space-evenly;
	align-content: center;
	text-align: start;
	position: relative;
	margin-right: 50px;
	margin-left: 50x;
}

.icon {
	position: relative;
	left: 0;
	margin-right: 5px;
}
.small-box {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #0c0d0c;
	color: #ffffff;
}

.image-svg {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.image-work {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.image-blog {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
	margin-top: 15%;
}
.small-box1 {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #0c0d0cE5;
	color: #ffffff;
}

.main-box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.title-one {
	margin-top: 15px;
}

.a-color {
	color: #ffffff;
}

.work-box1 {
	width: 50%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 5px;
}

.work-box1 > h2 {
	font-weight: 900;
	font-size: 30px;
}

.work-box2 a {
	font-weight: 900;
	font-size: 16px;
	color: black;
	display: inline-block;
	margin: 10px;
	margin-bottom: 20px;
}

.work-box2 a:hover {
	color: black;
	text-decoration: none;
}

.work-box3 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 40px 60px;
}

.work-box3 h5 {
	margin-top: 10px;
}

.work-box3 h5 > p {
	display: flex;
	align-items: flex-start;
}
.work-box4 {
	background-color: #0c0d0cE5;
	height: 200px;
	width: 280px;

	margin-right: 0;
	margin-left: 0;
}

.image-work {
	margin-top: 25%;
}

.work-box3 a {
	color: black;
}
.work-box3 h5 a:hover {
	color: black;
	text-decoration: none;
}

.work-footnote {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/* margin: 30px 60px; */
	background-color: #0c0d0cE5;
	width: auto;
}

.workbox-left {
	text-align: left;
	margin-right: 20px;
	color: white;
}
.workbox-left {
	margin: 20px;
	margin-right: 50px;
}

.workbox-right {
	text-align: right;
	margin-left: 30px;
}

.work-button {
	margin: 30px 10px;
	padding: 5px 40px;
	background-color: #0c0d0cE5;
	color: white;
	border-color: white;
}

.work-button-green {
	margin: 0 10px;
	padding: 5px 40px;
	background-color: #32a852;
	border-color: #32a852;
	color: white;
}

.blog-top {
	margin-top: 60px;
	width: 50%;
	display: inline-block;
}

.blog-box {
	background-color: #0c0d0cE5;
	height: 100px;
	width: 150px;
	float: left;
}

.size-box p {
	width: 440px;
	height: auto;
}

.blog-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 60px;
}
.boxin {
	display: inline-block;
	margin: 10px;
}

.size-box {
	text-align: start;
	float: right;
	margin-left: 15px;
}

.blog-footnote h5 {
	margin-top: 30px;
	margin-left: 150px;
	float: left;
	color: white;
}

.blog-footnote {
	background-color: #0c0d0cE5;
	width: auto;
}

.box-email {
	float: right;
	margin-right: 10%;
}

.box-email {
	display: inline-block;
	box-sizing: inherit;
	flex-direction: row-reverse;
	margin-top: 30px;
}

.box-email input {
	height: 35px;
	width: 300px;
}

.blog-button {
	padding: 5px 40px;
	background-color: #32a852;
	color: white;
	border-color: white;
}

.box-color {
	background-color: #0c0d0cE5;
	width: auto;
	height: 100px;
}

.box-sum {
	margin-top: 60px;
	width: 50%;
	display: inline-block;
}

.box-percentage {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 20px;
	margin-bottom: 20px;
}
.box-div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	width: auto;
	background-color: #0c0d0cE5;
	color: white;
	height: 200px;
	align-content: center;
}
.box-sample {
	max-width: 350px;
}

.box-insta {
	font-size: 12px;
	font-weight: 200;
	letter-spacing: 1.5px;
}

.box-social a img {
	margin: 7px;
	margin-top: 30px;
}

.btn-reg {
	padding: 5px 40px;
	background-color: #0c0d0cE5;
	border-color: white;
	color: white;
}

.btn-green {
	padding: 5px 40px;
	background-color: #32a852;
	color: white;
}

.nav-btm {
	display: flex;
	flex-direction: row-reverse;
	background: #0c0d0cE5;
}

.box-ins {
	margin-right: 30px;
	margin-bottom: 15px;
}

.box-ins a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.boxin {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.work-footnote {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		height: 180px;
		background-color: #0c0d0cE5;
		width: auto;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.box-color {
		background-color: #0c0d0cE5;
		width: auto;
		height: 180px;
	}

	.boxin {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.box1 {
		display: flex;
		flex-direction: row;
		width: auto;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-content: center;
		text-align: start;
		position: relative;
		margin-right: 50px;
		margin-left: 50x;
	}

	.col1 {
		width: 80%;
	}

	.icon {
		position: relative;
		left: 0;
		margin-right: 15px;
	}

	.box-color {
		background-color: #0c0d0cE5;
		width: auto;
		height: 200px;
	}

	.blog-box {
		background-color: #0c0d0cE5;
		height: 100px;
		width: 150px;
		align-items: center;
		margin: 0 auto;
	}
	.blog-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 40px;
		margin-bottom: 60px;
	}
	.size-box {
		text-align: center;
		margin-left: 15px;
	}

	.boxin {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.box-div {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-top: 50px;
		width: auto;
		background-color: #0c0d0cE5;
		color: white;
		height: auto;
		align-content: center;
	}
	.box-sample h5 {
		margin-top: 15px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.nav-btm {
		display: flex;
		flex-direction: column;
		background: #0c0d0cE5;
		padding: 10px;
	}

	.main-box {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-bottom: 40px;
	}
	.box-sample h5 {
		margin-top: 15px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.box-div {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-top: 50px;
		width: auto;
		background-color: #0c0d0cE5;
		color: white;
		height: auto;
		align-content: center;
	}

	.box-sample h5 {
		margin-top: 15px;
	}
	.nav-btm {
		display: flex;
		flex-direction: row;
		background: #0c0d0cE5;
	}

	.main-box {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-bottom: 40px;
	}

	.small-box {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #0c0d0c;
		color: #ffffff;
	}

	.small-box1 {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #0c0d0cE5;
		color: #ffffff;
	}

	.box-color {
		background-color: #0c0d0cE5;
		max-width: auto;
		height: 200px;
	}
}
